<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Sistema de Matriculas</title>
  </head>
  <body>
    <h1 th:text="|Bienvenid@ | + ${usuario.nombreCompleto}">Bienvenid@</h1>
    <br><br><br>
    <a th:href="@{usuarioListar.do}">Mantenimiento de Usuarios</a>
    <br><br><br>
    <a th:href="@{cursoMostrar.do}">Consulta de cursos</a>
  </body>
</html>